/* basic */
:root{
    --bg-color: #272727;
    --text-color: #fff;
    --green: #18c4a3;
    --light-text: #E1E0DF;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.effect{
    color: var(--green);
}


/* navbar */

.navbar-brand{
    font-weight: bold;
}

.navbar-brand span{
    color: var(--green);
}


/* homepage  */

.home-page{
    margin-top: 100px;
}

.home-page-h1{
    font-weight: bolder;
}

.home-page-text{
    font-size: 20px;
    margin-top: 50px;
    color: var(--light-text);
}

/* footer  */

#sticky-footer {
    flex-shrink: none;
}

.footer-text{
    font-size: 16px;
}

.footer{
    margin-top: 100px;
    margin-bottom: 100px;
}

/* form  */

.form {
    width: 100%;
}

.form-element *{
    width: 100%;
}


.form-group input{
    background: transparent;
    color: var(--light-text);
    height: 50px;
}
.form-group input:focus{
    background: transparent;
    color: var(--light-text);

}


.form-element{
    margin-top: 20px;
}

.form-btn{
    margin-top: 20px;

}

.already{
    margin-top: 50px;
    font-size: 18px;
    color: var(--light-text);
    opacity: 0.8;
    text-decoration: none;
    transition: 0.5s;
}

.already:hover{
    opacity: 1;
}

/* loader  */

.loader-main{
    background: #272727;
    z-index:99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;
    opacity: 0.8;
    display: none;
}

.loader{
    position: absolute;
    top: 50%;
    right: 50%;
}